{{- if eq .chezmoi.os "windows" -}}
# Turn on the tracked hooks (.githooks/pre-commit: gitleaks) for this checkout.
git -C {{ .chezmoi.workingTree | quote }} config core.hooksPath .githooks
{{ end -}}
